script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-115185661-1', 'auto');
    ga('send', 'pageview');
script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6T3BVP');
script.
    !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '417379408707861'); fbq('track', 'PageView');
script(async src='https://www.googletagmanager.com/gtag/js?id=AW-959364440')
script(async src='https://0ec8dc1fc179467d8f9052a5df6153cd.js.ubembed.com')
script.
	window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-959364440');
script.
    !function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');qp('init', '7ae5df3b012145a5aa39d7e9451db2da');qp('track', 'ViewContent');
noscript
img(height='1' width='1' style='display:none' src='https://q.quora.com/_/ad/7ae5df3b012145a5aa39d7e9451db2da/pixel?tag=ViewContent&noscript=1')
noscript
img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=417379408707861&ev=PageView&noscript=1')
script.
    var interval = setInterval(function() { if (typeof $ === "function") {clearInterval(interval); $('button.button').click(function() {qp('track', 'Generic');});}}, 100);
img(height='1' width='1' style='display:none' src='https://dc.ads.linkedin.com/collect/?pid=619905&conversionId=633604&fmt=gif')
script.
	gtag('event', 'page_view', {'send_to': 'AW-959364440','ecomm_pagetype':'replace with value','ecomm_prodid': 'replace with value','user_id': 'replace with value'});