div.section.section--theme-light-gray.section--full-width.padding-bottom-2
    footer(class="footer" style="padding-bottom:0px;")
        div.footer__bottom
            ul.footer__secondary-menu
                li.footer__secondary-link
                    span © 2019 Softcube |
            = wp_nav_menu(array('theme_location' => 'footer', 'container' => false, 'add_li_class'  => 'footer__secondary-link'))
            div.footer__social-links.social-icons.social-icons--horizontal
                a(href="https://www.linkedin.com/company/softcube-inc/" name="LinkedIn" target="_blank" rel="noreferrer" itemprop="sameAs" itemscope="itemscope" itemtype="https://schema.org/Organization" class="social-icons__link")
                    svg.social-icons__logo
                        g(stroke="none" stroke-width="1")
                            g(fill-rule="nonzero")
                                g
                                    svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M20.827244,12.2287068 L20.827244,19.9286718 L16.3632912,19.9286718 L16.3632912,12.744404 C16.3632912,10.9396574 15.7176286,9.70798837 14.1018257,9.70798837 C12.868365,9.70798837 12.1343318,10.538043 11.8114036,11.3409812 C11.6936406,11.6280284 11.6633283,12.0275606 11.6633283,12.4293687 L11.6633283,19.9286718 L7.19787444,19.9286718 C7.19787444,19.9286718 7.25801491,7.76088024 7.19787444,6.50020629 L11.6628925,6.50020629 L11.6628925,8.40363753 C11.6538375,8.41787368 11.6420709,8.43322354 11.6335486,8.44702389 L11.6628925,8.44702389 L11.6628925,8.40363753 C12.2561138,7.48995761 13.3155448,6.18473517 15.6868804,6.18473517 C18.6248052,6.18468675 20.827244,8.10400049 20.827244,12.2287068 Z M2.52681961,0.0270196299 C0.99919366,0.0270196299 0,1.02902178 0,2.34668875 C0,3.63564131 0.970285561,4.66805265 2.46755075,4.66805265 L2.49737887,4.66805265 C4.05459084,4.66805265 5.02303635,3.635835 5.02303635,2.34668875 C4.99369245,1.02902178 4.05459084,0.0270196299 2.52681961,0.0270196299 Z M0.265208804,19.9286718 L4.72896787,19.9286718 L4.72896787,6.50020629 L0.265208804,6.50020629 L0.265208804,19.9286718 Z" id="LinkedIn")
            
            
div.return-to-top
  a#return-to-top
div.cookie#bottombar
    small.cookie__text This site uses cookies to improve your user experience.
        a.cookie__privacy-link(href="/static/privacy-policy/" target="_blank" rel="nofollow noreferrer") Read More
        a.pb-button.pb-button--small.pb-button--primary(target="_blank" data-context="regular" rel="nofollow noreferrer") Accept 
        span.cookie__close

script(src="/wp-content/themes/softcube3/theme/assets/javascripts/landing/land.js?v=001" defer="")
script(src="/wp-content/themes/softcube3/theme/assets/javascripts/landing/video.js?v=001" defer="")