div.section.section--theme-light-gray.section--full-width.padding-bottom-2
    footer(class="footer" style="padding-bottom:0px;")
        div.footer__bottom
            div.footer__social-links.social-icons.social-icons--horizontal
                a(href="https://www.linkedin.com/company/softcube-inc/" name="Facebook" target="_blank" rel="noreferrer" itemprop="sameAs" itemscope="itemscope" itemtype="https://schema.org/Organization" class="social-icons__link")
                    svg.social-icons__logo
                        g(stroke="none" stroke-width="1")
                            g(fill-rule="nonzero")
                                g
                                    svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M16.56 24v-9.294h3.12l.466-3.622H16.56V8.771c0-1.048.29-1.763 1.795-1.763h1.918v-3.24a25.657 25.657 0 0 0-2.795-.143c-2.766 0-4.659 1.688-4.659 4.788v2.671H9.692v3.622h3.127V24H1.325A1.325 1.325 0 0 1 0 22.676V1.325C0 .593.593 0 1.325 0h21.35C23.407 0 24 .593 24 1.325v21.35c0 .732-.593 1.325-1.325 1.325H16.56z" id="facebook" fill-rule="evenodd")
            ul.footer__secondary-menu
                li.footer__secondary-link
                    span © 2019 Softcube
                li.footer__secondary-link |
                    = wp_nav_menu(array('theme_location' => 'footer', 'container' => 'li'))

div.return-to-top
  a#return-to-top
div.cookie#bottombar
    small.cookie__text This site uses cookies to improve your user experience.
        a.cookie__privacy-link(href="/static/privacy-policy/" target="_blank" rel="nofollow noreferrer") Read More
        a.pb-button.pb-button--small.pb-button--primary(target="_blank" data-context="regular" rel="nofollow noreferrer") Accept 
        span.cookie__close

div.footer-copyright
  .footer-copyright__container
    span.footer-copyright__copy © 2019 Softcube
    span |
    = wp_nav_menu(array('theme_location' => 'footer', 'container' => 'span'))