script#getdemo-modal(type='text/template').
  <h2 class="modal__title">Lets chat</h2>
  <form class="modal__form" id="getdemo-lets_chat" name="lets_chat" action="https://softcube.com/wp-json/softcube/request-demo" method="POST">
  <div class="modal__input-el">
  <label for="name">What's your <b>full name</b>?*</label>
  <input type="text" id="name" name="name" required/>
  </div>
  <div class="modal__input-el">
  <label for="email">
        Which email address shall we use?*
  </label>
  <input type="email" id="email" name="email" required/>
  </div>
  <div class="modal__input-el">
  <label for="site">What's your shop address ?*</label>
  <input type="text" id="site" name="site" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$" />
  </div>
  <button class="button modal__button js-open-modal">Register</button>
  </form>
script#getdemo-modal-confirmation(type='text/template').
  <h2 class="modal__title">Thanks for completing the form</h2>
  <div class="modal__text">We will get in touch within 24h.</div>
  <button class="button modal__button js-modal-close">Ok</button>
script#getdemo-modal-error(type='text/template').
  <h2 class="modal__title modal__title--error">Something went wrong</h2>
  <div class="modal__text modal__text--error">Please close the form and try again</div>
  <button class="button modal__button js-modal-close">Ok</button>