// Charset
meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
meta(name='viewport' content='width=device-width, initial-scale=1')

link(rel="apple-touch-icon", sizes="180x180", href="/wp-content/themes/softcube3/assets/fav/apple-touch-icon.png")
link(rel="icon" type="image/png", sizes="32x32", href="/wp-content/themes/softcube3/assets/fav/favicon-32x32.png")
link(rel="icon" type="image/png", sizes="16x16", href="/wp-content/themes/softcube3/assets/fav/favicon-16x16.png")
link(rel="manifest", href="/wp-content/themes/softcube2/assets/fav/site.webmanifest")
link(rel="mask-icon", href="/wp-content/themes/softcube2/assets/fav/safari-pinned-tab.svg", color="#5bbad5")
meta(name="apple-mobile-web-app-title", content="Softcube")
meta(name="application-name", content="Softcube")
meta(name="msapplication-TileColor", content="#da532c")
meta(name="theme-color", content="#ffffff")
meta(name="google-site-verification" content="lTplUruFH61DAfPI6hQ8Z18epNymLnv6GqYsgTrtkJU")
link(rel="dns-prefetch" href="https://static.intercomassets.com")
link(rel="dns-prefetch" href="https://js.intercomcdn.com")
link(rel="dns-prefetch" href="https://widget.intercom.io")
link(rel="dns-prefetch" href="https://api-iam.intercom.io")
link(rel="dns-prefetch" href="https://googleads.g.doubleclick.net")
link(rel="dns-prefetch" href="https://www.googleadservices.com")

link(rel="preconnect" href="https://static.intercomassets.com")
link(rel="preconnect" href="https://js.intercomcdn.com")
link(rel="preconnect" href="https://widget.intercom.io")
link(rel="preconnect" href="https://api-iam.intercom.io")
link(rel="preconnect" href="https://googleads.g.doubleclick.net")
link(rel="preconnect" href="https://www.googleadservices.com")

// Title
title= the_title()
//- title= bloginfo( 'title' ) . wp_title()

// Stylesheets
// screen.css is loaded by default with wp_head() function. See config/initializers/default_hooks.php for details

// HTML5 Shiv
<!--[if lt IE 9]>
= javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")
<![endif]-->

= render_partial("layouts/analytics")

- wp_head()
