
noscript#deferred-styles
    link(rel="stylesheet" type="text/css" href="/wp-content/themes/softcube3/assets/stylesheets/main.css")
    link(rel="stylesheet" type="text/css" href="/wp-content/themes/softcube3/assets/stylesheets/all.min.css")
script.
    var loadDeferredStyles=function(){var e=document.getElementById("deferred-styles"),n=document.createElement("div");n.innerHTML=e.textContent,document.body.appendChild(n),e.parentElement.removeChild(e)},raf=window.requestAnimationFrame||window.mozRequestAnimationFrame||window.webkitRequestAnimationFrame||window.msRequestAnimationFrame;raf?raf(function(){window.setTimeout(loadDeferredStyles,0)}):window.addEventListener("load",loadDeferredStyles);


header.header.header--has-spacer.header--has-menu
  div.header__wrapper
    div.header__inner
        div.header__inner-left
            button(name="menu" class="header__hamburger")
            a(href="/" class="header__logo router-link-active")
                div.logo
                    div.logo__animation
                        img(src="/wp-content/themes/softcube3/assets/images/logo.svg")
            ul.header__menu
                li.header__menu-item
                    a.router-link-exact-active.router-link-active.header__menu-item-link(href='https://app.softcube.com') Industries
                li.header__menu-item
                    a.router-link-exact-active.router-link-active.header__menu-item-link(href='https://app.softcube.com') Pricing
                li.header__menu-item
                    a.router-link-exact-active.router-link-active.header__menu-item-link(href='https://app.softcube.com') Blog
                div.header__mega-menu-overlay