script#modal(type='text/template').
	<div class="modal">
		<div class="modal__overlay"></div>
			<div class="signup-modal">
				<div class="signup-modal__area">
					<div class="signup-modal__inner">
						<div>
							<div class="signup-modal__text-wrapper">
								<h3 class="margin-bottom">TRY Softcube FOR 14 DAYS</h3>
								<small>Immediate access. No credit card required.</small>
							</div>
							<div class="signup-form">
							<form data-type="signup" id="lets_chat" class="pb-form pb-form--vertical">
								<div class="pb-form__items-wrapper">
									<div class="pb-form__item">
										<div class="pb-form__field-wrapper">
											<input type="email" name="email" placeholder="Work email" data-di-field-id="signup-email" class="pb-form__input pb-form__input--large pb-form__input--full-border pb-form__input--with-email" required>
                                            <input type="site" name="site" placeholder="domain" data-di-field-id="signup-email" class="pb-form__input pb-form__input--large pb-form__input--full-border pb-form__input--with-site">
										</div>
										<div class="margin-bottom-2"></div>
									</div>
									<div class="pb-form__item pb-form__item--submit">
										<a class="signup-form__submit pb-button pb-button--fluid pb-button--primary"> Get access </a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="signup-modal__notice-text">By signing up, you accept our 
				<a href="#/terms-of-service" target="_blank" rel="nofollow noreferrer">Terms of Service</a> and 
				<a href="#/privacy" target="_blank" rel="nofollow noreferrer">Privacy Policy</a><br>Already have an account? 
				<a href="#/login" rel="nofollow noreferrer">Log in</a>
			</div>
		</div>
	</div>


script#modal-confirmation(type='text/template').
  <h3 class="margin-bottom">Thanks for completing the form</h3>
  <small>We will get in touch within 24h.</small>
  <button class="button modal__button js-modal-close">Ok</button>
script#modal-error(type='text/template').
  <h3 class="margin-bottom">Something went wrong</h3>
  <small>Please close the form and try again</small>
  <button class="button modal__button js-modal-close">Ok</button>