template#mobile-menu(type='text/template').
    <div class="hamburger">
	    <div class="hamburger__overlay"></div>
			<div class="hamburger__content">
				<div class="hamburger__header">
					<button name="close" class="hamburger__close"></button>
					<a href="/" class="hamburger__logo router-link-active">
						<div class="logo"></div>
					</a>
					<a href="#/login" name="login" class="hamburger__login"> Login </a>
				</div>
				<div class="hamburger__wrap">
					<ul class="hamburger__menu">
						<li class="hamburger__item">
							<a href="/en/features" class="hamburger__link hamburger__link--header">  Industries  </a>
						</li>
						<li class="hamburger__item">
							<a href="/en/pricing" class="hamburger__link hamburger__link--header"> Pricing </a>
						</li>
						<li class="hamburger__item">
							<a href="/en/pricing" class="hamburger__link hamburger__link--header"> Blog </a>
						</li>
					</ul>
				</div>
			</div>
		</div>