script#subscribe-modal-news(type='text/template').
  <h2 class="modal__title">Subscribe to newsletter</h2>
  <form class="modal__form" action="" method="POST" id="subscribe-lets_chat-news" name="newsletter">
  <input id="newsletter" type="hidden" name="newsletter" value="newsletter">
  <div class="modal__input-el">
  <label for="name">What's your <b>full name</b>?*</label>
  <input type="text" id="name" name="name" required/>
  </div>
  <div class="modal__input-el">
  <label for="email">
        Which email address shall we use?*
  </label>
  <input type="email" id="email" name="email" required/>
  </div>
  <div class="modal__input-el">
  <label for="site">What's your shop address ?*</label>
  <input type="text" id="site" name="site" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$" />
  </div>
  <button class="button modal__button js-open-modal">Register</button>
  </form>
script#modal-confirmation-news(type='text/template').
  <h2 class="modal__title">Thanks for completing the form</h2>
  <div class="modal__text">We will get in touch within 24h.</div>
  <button class="button modal__button js-modal-close">Ok</button>
script#modal-error-news(type='text/template').
  <h2 class="modal__title modal__title--error">Something went wrong</h2>
  <div class="modal__text modal__text--error">Please close the form and try again</div>
  <button class="button modal__button js-modal-close">Ok</button>
script#video-play(type='text/javascript').
  if(document.querySelectorAll("video").length > 0){document.querySelectorAll("video").forEach(function(item){item.play()})};
script#popup(type='text/javascript' src='https://0ec8dc1fc179467d8f9052a5df6153cd.js.ubembed.com/').