doctype html
html
  head= render_partial("layouts/head")
  body
    .tingle-content-wrapper.content-page.content-page--no-offset
      = render_partial("layouts/header")

      .container
        .static-page
          .static-page__title-wrapper
            h2.modal__title Thanks for completing the form
          .static-page__content
            div.modal__text We will get in touch within 24h.

      = render_partial("layouts/footer-copyright")
      - wp_footer()