doctype html
html
  head
    = render_partial("layouts/head")
    = render_partial("layouts/landing/landing-critical-css")
    
  body
    = render_partial("layouts/header")
    div.section.section--theme-white-separator.top(style="background-color: transparent;")
        div.hero-block(style="position: relative;z-index: 300;")
            div.hero-block__text
                h1(style="color: #fff") 
                    | Create video ads in
                    br
                    | two clicks
                p(style="font-size: 30px; color: #fff") Just paste your link and AI will automatically create videos that convert
                a.cards__button.pb-button.pb-button--xl.pb-button--default(style="background-color: #EE1D43; color: #fff; border-color: #fff;box-shadow: inset 0 0 0 3px #fff;") Try for free!
        div.video-banner
            video(playsinline="" loop="" autoplay="")
                source(src="https://s-http-public.s3.eu-central-1.amazonaws.com/video_offers/landing_7_1.mp4" type="video/mp4")
            div.just_pattern

    div.section.section--theme-white-separator
        div.newsletter-signup
            h2 LINK TO YOUR LISTING PAGE
            div.pb-form__items-wrapper.newsletter-signup__form
                div.pb-form__item
                    div.pb-form__field-wrapper
                        input(type="text" name="link" placeholder="e.g. bestrealtors.com/besthome.html" class="pb-form__input pb-form__input--large pb-form__input--full-border pb-form__input--gray-border pb-form__input--gray")
                    div.margin-bottom-2
                div.pb-form__item.pb-form__item--submit
                    a.pb-button.pb-button--fluid.pb-button--primary Create video
    div.section.section--theme-white-separator
        div.hero-block
            div.hero-block__text
                h2 Automatically create and optimize video ads online
                div.cards
                    div.card-block
                        div.grid-borders.grid-borders--desktop-per-row-3.grid-borders--remove-last-3
                            div.card-block__wrapper.card-block--col3
                                div.card.card--features
                                    a(href="#" class="card__link")
                                        div.card__wrapper.card__wrapper--clickable-with-borders
                                            div.card__inner
                                                div.card__image-containe
                                                    img(data-src="wp-content/themes/softcube3/assets/images/Fast.png" alt="" lazy="" class="card__image" style="max-height:155px;" src="wp-content/themes/softcube3/assets/images/Fast.png")
                                                div.card__content
                                                    h5(class="card__title" style="color: rgb(238, 29, 67);font-size: 33px") Fast
                                                    small(class="card__text") Save your time on editing and optimizing video ads
                                div.card.card--features
                                    a(href="#" class="card__link")
                                        div.card__wrapper.card__wrapper--clickable-with-borders
                                            div.card__inner
                                                div.card__image-containe
                                                    img(data-src="wp-content/themes/softcube3/assets/images/Easy.png" alt="" lazy="" class="card__image" style="max-height:155px;" src="wp-content/themes/softcube3/assets/images/Easy.png")
                                                div.card__content
                                                    h5(class="card__title" style="color: rgb(238, 29, 67);font-size: 33px") Fast
                                                    small(class="card__text") Just paste your link and get a video ad. No editing skills required
                                div.card.card--features
                                    a(href="#" class="card__link")
                                        div.card__wrapper.card__wrapper--clickable-with-borders
                                            div.card__inner
                                                div.card__image-containe
                                                    img(data-src="wp-content/themes/softcube3/assets/images/performance.png" alt="" lazy="" class="card__image" style="max-height:155px;" src="wp-content/themes/softcube3/assets/images/performance.png")
                                                div.card__content
                                                    h5(class="card__title" style="color: rgb(238, 29, 67);font-size: 33px") Fast
                                                    small(class="card__text") Get more leads with engaging videos
    div.section.section--theme-white-separator
        div.square-list
            div.margin-bottom-2.text-block.text-block--center
                h2.text-center Create marketing videos for every industry
                div.text-block__text
                    p.text-center._margin We believe that every promotion should be video ad
                div.cards
                    div.card-block
                        div.grid-borders.grid-borders--desktop-per-row-3.grid-borders--remove-last-3
                            div.card-block__wrapper.card-block--col3
                                div.card.card--features
                                    div.card__wrapper.card__wrapper--clickable-with-borders
                                        div.card__inner
                                            div.card__content
                                                h5(class="card__title" style="font-size: 33px") E-commerce
                                                video(playsinline="" loop=""  muted="" id="video_02" width="100%" height="100%")
                                                    source(src="https://s3.eu-central-1.amazonaws.com/s-http-public/video_offers/720x720_2.mp4" type="video/mp4")
                                                a.cards__button.pb-button.pb-button--xl.pb-button--default Learn More
                                div.card.card--features
                                    div.card__wrapper.card__wrapper--clickable-with-borders
                                        div.card__inner
                                            div.card__content
                                                h5(class="card__title" style="font-size: 33px") Food and delivery
                                                video(playsinline="" loop=""  muted="" id="video_02" width="100%" height="100%")
                                                    source(src="https://s3.eu-central-1.amazonaws.com/s-http-public/video_offers/vanguardproperties+720x720_2.mp4" type="video/mp4")
                                                a.cards__button.pb-button.pb-button--xl.pb-button--default Learn More
                                div.card.card--features
                                    div.card__wrapper.card__wrapper--clickable-with-borders
                                        div.card__inner
                                            div.card__content
                                                h5(class="card__title" style="font-size: 33px") Top performance
                                                video(playsinline="" loop=""  muted="" id="video_02" width="100%" height="100%")
                                                    source(src="https://s3.eu-central-1.amazonaws.com/s-http-public/video_offers/vanguardproperties+720x720_2.mp4" type="video/mp4")
                                                a.cards__button.pb-button.pb-button--xl.pb-button--default Learn More
                                div.card.card--features
                                    div.card__wrapper.card__wrapper--clickable-with-borders
                                        div.card__inner
                                            div.card__content
                                                h5(class="card__title" style="font-size: 33px") Travel
                                                video(playsinline="" loop=""  muted="" id="video_02" width="100%" height="100%")
                                                    source(src="https://s3.eu-central-1.amazonaws.com/s-http-public/video_test/Hotel_1-720x720.mp4" type="video/mp4")
                                                a.cards__button.pb-button.pb-button--xl.pb-button--default Learn More
                                div.card.card--features
                                    div.card__wrapper.card__wrapper--clickable-with-borders
                                        div.card__inner
                                            div.card__content
                                                h5(class="card__title" style="font-size: 33px") Car Dealership
                                                video(playsinline="" loop=""  muted="" id="video_02" width="100%" height="100%")
                                                    source(src="https://s3.eu-central-1.amazonaws.com/s-http-public/video_test/automotive_720x720.mp4" type="video/mp4")
                                                a.cards__button.pb-button.pb-button--xl.pb-button--default Learn More
                                div.card.card--features
                                    div.card__wrapper.card__wrapper--clickable-with-borders
                                        div.card__inner
                                            div.card__content
                                                h5(class="card__title" style="font-size: 33px") Fitness
                                                video(playsinline="" loop=""  muted="" id="video_02" width="100%" height="100%")
                                                    source(src="https://s3.eu-central-1.amazonaws.com/s-http-public/video_offers/vanguardproperties+720x720_2.mp4" type="video/mp4")
                                                a.cards__button.pb-button.pb-button--xl.pb-button--default Learn More
    div.section.section--theme-white-separator
        div.columned-text-block
            div.text-center.margin-bottom-2
                h2 How it works?
            div.columned-text-block__image-wrapper.margin-bottom-2
                div.checkmark-cards._margin
                    div.card__image-container
                        img(lazy="" class="columned-text-block__image" src="wp-content/themes/softcube3/assets/images/Crawling.png" style="width: 20%")
                    div.columned-text-block__text
                        div
                            h5(class="card__title" style="color: rgb(238, 29, 67);font-size: 33px") Crawling website page
                            p AI scans your website page and gets all important data
            div.columned-text-block__image-wrapper.margin-bottom-2
                div.checkmark-cards._margin
                    div.card__image-container
                        img(lazy="" class="columned-text-block__image" src="wp-content/themes/softcube3/assets/images/Selecting.png" style="width: 20%")
                    div.columned-text-block__text
                        div
                            h5(class="card__title" style="color: rgb(238, 29, 67);font-size: 33px") Selecting footage
                            p Algorithm picks the best-suited scenes from Softcube video library of 2 million clips
            div.columned-text-block__image-wrapper.margin-bottom-2
                div.checkmark-cards._margin
                    div.card__image-container
                        img(lazy="" class="columned-text-block__image" src="wp-content/themes/softcube3/assets/images/Compiling.png" style="width: 20%")
                    div.columned-text-block__text
                        div
                            h5(class="card__title" style="color: rgb(238, 29, 67);font-size: 33px") Compiling video ad
                            p AI scans your website page and gets all important data
    div.section.section--theme-white-separator
        div.columned-text-block
            div.text-center
                h2 Use any platform to maximize reach
            div(class="columned-text-block__wrap columned-text-block__wrap--vertical-centered separator" style="width: 65%; margin: 80px auto 0;")
                div.columned-text-block__tex
                    h5(class="card__title" style="font-size: 33px") Instagram story ads
                    div.margin-bottom-2
                        p Use Instagram video ad creator to automatically create stories for every product
                    a(href="#signup-form" class="pb-button pb-button--xl pb-button--primary cta-block__button-left cta-block__button-left--min-width") Learn More
                div.columned-text-block__image-wrapper
                    div(style="margin: 0 auto;height: 100%;")
                        div(style="height: 351px;")
                            video(muted=""  loop="" playsinline="" id="video_01" width="100%" height="100%")
                                source(src="https://s-http-public.s3.eu-central-1.amazonaws.com/video_offers/allo_300x600.mp4" type="video/mp4")
            div(class="columned-text-block__wrap columned-text-block__wrap--vertical-centered separator" style="width: 65%; margin: 80px auto 0;")
                div.columned-text-block__tex
                    h5(class="card__title" style="font-size: 33px") Youtube Ads
                    div.margin-bottom-2
                        p Let people find you with YouTube and Google Display Network ads
                    a(href="#signup-form" class="pb-button pb-button--xl pb-button--primary cta-block__button-left cta-block__button-left--min-width") Learn More
                div.columned-text-block__image-wrapper
                    div(style="margin: 0 auto;height: 100%;")
                        div(style="height: 351px;")
                            video(muted=""  loop="" playsinline="" id="video_01" width="100%" height="100%")
                                source(src="https://s-http-public.s3.eu-central-1.amazonaws.com/video_offers/ggmgastro+1280x720_6.mp4" type="video/mp4")
            div(class="columned-text-block__wrap columned-text-block__wrap--vertical-centered separator" style="width: 65%; margin: 80px auto 0;")
                div.columned-text-block__tex
                    h5(class="card__title" style="font-size: 33px") Facebook video ads
                    div.margin-bottom-2
                        p Increase your campaigns performance with Facebook ad video maker
                    a(href="#signup-form" class="pb-button pb-button--xl pb-button--primary cta-block__button-left cta-block__button-left--min-width") Learn More
                div.columned-text-block__image-wrapper
                    div(style="margin: 0 auto;height: 100%;")
                        div(style="height: 351px;")
                            video(muted=""  loop="" playsinline="" id="video_01" width="100%" height="100%")
                                source(src="https://s3.eu-central-1.amazonaws.com/s-http-public/video_offers/Pizza+720x720.mp4" type="video/mp4")
    div.section.section--theme-white-separator
        div.testimonials
            div.testimonials__title
                h3 What our clients say?
                div.testimonials__cta
                    a.pb-button.pb-button--lg.pb-button--default Try advertising video maker
            div.testimonials__content
                blockquote.pb-quote.pb-quote--gray
                    div.pb-quote__content
                        p I'm really impressed by Softcube video ads. It's a great opportunity to reach new visitors with less effort
                    div.pb-quote__author
                        strong Dylan Pradas
                    div.pb-quote__image
                        img(data-src="wp-content/themes/softcube3/assets/images/1.png" alt="" lazy="" src="wp-content/themes/softcube3/assets/images/1.png")
                blockquote.pb-quote.pb-quote--gray
                    div.pb-quote__content
                        p I've tried video ads for the first time to promote my business. And it performs better than my previous image ads. Thanks!
                    div.pb-quote__author
                        strong Elizabeth Kennard
                    div.pb-quote__image
                        img(data-src="wp-content/themes/softcube3/assets/images/2.png" alt="" lazy="" src="wp-content/themes/softcube3/assets/images/2.png")
                blockquote.pb-quote.pb-quote--gray
                    div.pb-quote__content
                        p Finding out about Softcube is the best chance for me to make a lot of video ads in a few clicks!
                    div.pb-quote__author
                        strong Michael Horn
                    div.pb-quote__image
                        img(data-src="wp-content/themes/softcube3/assets/images/3.png" alt="" lazy="" src="wp-content/themes/softcube3/assets/images/3.png")
                blockquote.pb-quote.pb-quote--gray
                    div.pb-quote__content
                        p Finding out about Softcube is the best chance for me to make a lot of video ads in a few clicks!
                    div.pb-quote__author
                        strong Michael Horn
                    div.pb-quote__image
                        img(data-src="wp-content/themes/softcube3/assets/images/3.png" alt="" lazy="" src="wp-content/themes/softcube3/assets/images/3.png")
    div.section.section--theme-white-separator
        div.accordion
            h2 FAQ
            ul.accordion__items
                li.accordion__item.accordion__item--closed
                    span.accordion__item-title How does Softcube create a video ad?
                    div.accordion__content 
                        | Softcube created artificial intelligence that acts as an advertisement maker. It automatically sources videos related 
                        | to your industry from Softcube Video library. Then the ad creator picks the best scenes from best videos, compiles these 
                        | scenes and adds important data (text, logo) from your page into a video ad.
                li.accordion__item.accordion__item--closed
                    span.accordion__item-title What video content do Softcube uses for my video ads?
                    div.accordion__content 
                        | Softcube uses the content originally made by content creators for different industries.
                        | We put the copyright mark on every video and deal with any possible claims according to DMCA.
                li.accordion__item.accordion__item--closed
                    span.accordion__item-title How to make an ad using Softcube?
                    div.accordion__content 
                        | You need just to choose a pricing plan and give us your product/listing URL.
                        | Then our automatical ad maker will do all other steps.
                li.accordion__item.accordion__item--closed
                    span.accordion__item-title How to advertise on Facebook or Google?
                    div.accordion__content 
                        | To advertise on Facebook create your ad account on Facebook Business Manager.
                        | To advertise on Google create an ad account on Google Ads.
                        | On both platforms, you have to set up Ad Campaign, Ad Set and upload video ad.

    = render_partial("posts/related-articles")
    = render_partial("layouts/footer-copyright")
    = render_partial("layouts/modal")
    = render_partial("layouts/modal-menu")
      
  - wp_footer()
