doctype html
html
  head= render_partial("layouts/head")

  body
    .tingle-content-wrapper.content-page.content-page--no-offset
      = render_partial("layouts/header")

      .container.login
        .static-page
          .static-page__title-wrapper
            h2.modal__title Create account
          .static-page__content(style="padding-top: 20px;")
            div#login
              div(class="modal__input-el")
                label(for="name") Enter name*
                input(id="loginName" name="name" type="text" required)
              div(class="modal__input-el login"  style="")
                label(for="fullname") Enter full name*
                input(id="loginFullName" name="login" type="text" required)
              div(class="modal__input-el login"  style="")
                label(for="email") Enter e-mail address*
                input(id="loginEmail" name="login" type="text" required)
              div(class="modal__input-el login"  style="")
                label(for="password") Enter password*
                input(id="loginPassword" name="password" type="password" required)
              div(class="modal__input-el"  style="margin-top: 35px;")
                input(name="checkbox" type="checkbox" required style="width: 15px;height: 15px;-webkit-appearance: checkbox;display: inline-block;")
                span(style="font-size: 0.83rem;padding-left: 1rem;display: block;margin-top: -25px;margin-left: 10px;") I certify that I am 18 or older and I agree to the&nbsp;
                 a(href="https://softcube.com/static/membership-agreement/" style="font-size: 0.83rem;" target="blank") Membership Agreement,
                 a(href="https://softcube.com/static/terms-of-service/" style="font-size: 0.83rem; padding-left: 7px;" target="blank") Terms of Service
                 a(href="https://softcube.com/static/privacy-policy/" style="font-size: 0.83rem; padding-left: 7px;" target="blank") and Privacy Policy
              a(id="cl" href="#" style="position: absolute;width: 30%;height: 100px;")
              button(class="button" id="loginSubmit" style="margin-top: 40px;" disabled) Submit
              script(src='https://www.google.com/recaptcha/api.js?render=6LfZd4YUAAAAADc_bszcZ9DHiXyE6VAq60knSqyr')
              script.
                grecaptcha.ready(function() {grecaptcha.execute('6LfZd4YUAAAAADc_bszcZ9DHiXyE6VAq60knSqyr', {action: 'Registration'}).then(function(token) {console.log("token", token)});});
      = render_partial("layouts/footer-copyright")
      //= render_partial("layouts/login-modal")
      - wp_footer()