doctype html
html
  head
    = render_partial("layouts/head")
    = render_partial("layouts/landing/pricing-critical-css")
  body
    = render_partial("layouts/dots")
    main.tingle-content-wrapper
      = render_partial("layouts/header")
      section.section.pricing.pricing__background
        //.pricing__background
        .pricing__title-wrapper
          h2.pricing__title Pricing
          .pricing__description
            | Plans that match your inventory volume
        .pricing__options-wrapper
          .pricing-options
            h4.pricing-options__title Basic
            p.pricing-options__text 
            | Highlight your 
            br
            | top products
            .pricing-options__price-wrapper
              .pricing-options__price $250
              .pricing-options__per-month per month
            .button.pricing-options__button.pricing-options__button--starter.js-open-subscribe-modal Start free trial!
            .pricing--options__separator
            ul.pricing--options__list.basic
              li < 85 video ads
              li  < 125000 Impressions 
              li Facebook and Instagram video format
              li Video ads for products 
              li Standard video ad template 

          .pricing-options
            h4.pricing-options__title Pro
            p.pricing-options__text Showcase your key product categories
            .pricing-options__price-wrapper
              .pricing-options__price $750
              .pricing-options__per-month per month
            .button.pricing-options__button.pricing-options__button--niche-store.js-open-subscribe-modal Start free trial!
            .pricing--options__separator
            ul.pricing--options__list.pro
              li < 250 video ads
              li < 375000 Impressions
              li Facebook and Instagram video format
              li Insta Story video format 
              li Video ads for products
              li Video ads for product categories
              li 1 customized video ad template

          .pricing-options
            h4.pricing-options__title Enterprise
            p.pricing-options__text Display your whole store in videos
            .pricing-options__price-wrapper.pricing-options__price-wrapper--individual
              .pricing-options__price Custom pricing
            .button.pricing-options__button.pricing-options__button--general-retailer.js-open-modal Contact us
            .pricing--options__separator
            ul.pricing--options__list.enterprise
              li Unlimited number of video ads
              li Unlimited number of impressions
              li Facebook and Instagram video format
              li Insta Story video format 
              li Adwords video format 
                .pricing-new New
              li Customized video format 
              li Video ads for products 
              li Video ads for product categories
              li Video ads for promotions and deals
              li Customized video ad templates
              li 
              | Multilingual video ad 
              br
              | template
              div.pricing-new New
              li Custom video feed export

      section.section
        .section__container.instagram.price
          h2.section__title Core features included in every plan

          .pricing-features
            figure.pricing-features__feature.reveal-sequence
              .pricing-features__image
                img(src='/wp-content/themes/softcube2/assets/images/pricing/import.png')
              figcaption
                | Import of your
                br
                | product feed
              .pricing-features__description
                dl
                  dt Link a product feed
                  dd Link your feed in standard Google or Facebook format
                  p.top-pading 
                  dt Link the app
                  dd Authorize Softcube app on Facebook Business Manager

            .pricing-features-dots.reveal-sequence
              svg.dots__san-marino(viewbox='0 0 52 12', preserveaspectratio='xMinYMin meet')
                use(xlink:href='#dots')
            figure.pricing-features__feature.reveal-sequence
              .pricing-features__image
                img(src='/wp-content/themes/softcube2/assets/images/pricing/ai.png')
              figcaption.pricing__big Softcube
              .pricing-features__description
                dl
                  dt Matching products
                  dd Matching your catalog to Sotcube content library
                  p.top-pading 
                  p.top-pading 
                  dt Producing video ads at scale
                  dd Using AI to create engaging videos of products in use
            .pricing-features-dots.reveal-sequence
              svg.dots__san-marino(viewbox='0 0 52 12', preserveaspectratio='xMinYMin meet')
                use(xlink:href='#dots')
            figure.pricing-features__feature.reveal-sequence
              .pricing-features__image
                img(src='/wp-content/themes/softcube2/assets/images/pricing/orientation.png')
              figcaption Export creatives and campaign set up
              .pricing-features__description
                dl
                  dt Export videos
                  dd Uploading videos to your Facebook ad account
                  dt Creating audiences and ad sets
                  dd Automated audience and ad set creation for every video

      section.pricing-section-start
        .section__container.price
          h2.pricing__title Get started for Free
          dl
            dd.pricing-text-get-start Try the basic plan for 14 days to experience the video ads performance 
          .pricing-options-get-start
            div.button.pricing-options__button.pricing-options__button--starter--get-start.js-open-subscribe-modal Start free trial!

      section.section
        .section__container.pricing-faq.price
          h2.section__title Frequently Asked Questions

          .pricing-faq__list
            dl
              dt Does Softcube shoot videos?
              dd No, we use existing product reviews and videos by brands.  We source this footage from original content creators.
            
            dl
              dt Is there a free trial of the paid plans?
              dd Yes! There is a 14-day free trial for the Merchant and Store plans. To try the Retailer plan, please contact us.
            
            dl
              dt Does Softcube handle billing for my Facebook account?
              dd You manage your facebook expenses, we just provide the content
            
            dl
              dt How much effort is needed to start a campaign?
              dd You only need to provide the product feed and connect Facebook account. All other steps are automated.
            
            dl
              dt Who owns the copyright for a video content?
              dd Softcube sources all content from original content creators. We put the copyright mark on every video and deal with any possible claims according to DMCA.
                span.tooltip-wrapper
                  a( href='https://softcube.com/legal/dmca.html' class='tooltip' data-tooltip='DMCA Policy') ?
                  .price-note
                    span.price-note__icon
                    .price-note__content
            
            dl
              dt How long will it take to launch the campaign?
              dd Usually, it takes one or two weeks to get the campaign up and running.



          //.pricing-faq__button-wrapper
            //a.button.pricing-faq__button(href="#") See the full FAQ

      = render_partial("layouts/footer-copyright")
      = render_partial("layouts/modal")
      = render_partial("layouts/subscribe-modal")
      - wp_footer()
