- header("HTTP/1.1 404 File not found")
h2 Page not found - error 404
h4
  strong
    | Sorry. The page
    = $_SERVER["HTTP_HOST"] . $_SERVER["REQUEST_URI"]
    | was moved or doesn't exist

