- the_post()
- $categories = get_the_category()
- $category = $categories[0]
- $linkToPost = get_permalink()
article.post-preview
  a(href="$linkToPost")
    figure.post-preview__image!=the_post_thumbnail( 'height250' )
  a(href="$linkToPost")
    span.post-preview__title = get_the_title()
  div.post-preview__content
    div.post-preview__date-read
      !=the_time('F d, Y')
      |
      | &#8226;
      !=do_shortcode('[rt_reading_time]')
      | min
    div(class="post-preview__category post-preview__category--$category->slug")=$category->cat_name
