- $posts = get_related_articles();

div.section.section--theme-white-separator
    div.text-center.margin-bottom-2
        h2 Latest Articles
    div
        div.card-block
            div.grid-borders.grid-borders--full-width.grid-borders--disabled
                div.card-block__wrapper.card-block--col3-articles
                    while($posts -> have_posts())
                        - $posts->the_post()
                        - $linkToPost = get_permalink()
                        - $categories = get_the_category()
                        - $category = $categories[0]
                        div.card.card--article
                            a(href="$linkToPost" class="card__link --$category->slug"  style="text-decoration: none;")
                                div.card__wrapper.card__wrapper--clickable
                                    = the_post_thumbnail('', array('class' => 'card__image'))
                                    div.card__inner.card__inner--left-aligned
                                        div.card__title
                                            h5 = the_title()
                                            div.date-author
                                                span = the_time('F d, Y')
                                                small(class="card__excerpt" style="float: right;") = $category -> cat_name