@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/source-sans-pro.woff?333d) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/source-sans-pro-light.woff?5506) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/source-sans-pro-bold.woff?e0b7) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: PantonBlack;
    src: url(../fonts/Panton-BlackCaps.woff?c049) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museosans-500.woff?eb90) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museosans-700.woff?7f64) format("woff");
    font-weight: 700;
    font-style: normal
}
