doctype html
html
  head= render_partial("layouts/head")
  body
    .tingle-content-wrapper.content-page.content-page--no-offset
      = render_partial("layouts/header")

      .container
        .static-page
          .static-page__title-wrapper
            .static-page__title Page not found - error 404
          .static-page__content
            div
              | Sorry. The page
              = $_SERVER["HTTP_HOST"].$_SERVER["REQUEST_URI"]
              | was moved or doesn't exist
      = render_partial("layouts/footer-subscribe")
      = render_partial("layouts/footer-copyright")
      - wp_footer()