doctype html
html
  head= render_partial("layouts/head")
  body
    .tingle-content-wrapper.content-page.content-page--no-offset
      = render_partial("layouts/header-blog")

      .container
        - the_post()
        - $image = get_the_post_thumbnail_url()
        .post
          figure.post__image-section
            .post__image-section-image(style="background-image:url($image)")
            h1.post__title!= get_the_title()
          .post__rows
            .post__content
              div!= get_the_filtered_content()
              div = comments_template()
            side.post__side
              .post__get-a-demo
                .post__get-a-demo-title Do you want videos for your store?
                button.button.post__get-a-demo-button.js-open-modal Get a demo
              .post__subscribe
                .post__subscribe-title Check our newest article right now
                button.button.post__subscribe-button.js-open-modal-news Subscribe

      = render_partial("posts/related-articles")
      = render_partial("layouts/footer-subscribe")
      = render_partial("layouts/footer-copyright")
      = render_partial("layouts/modal")
      = render_partial("layouts/subscribe-modal-news")
      - wp_footer()