- $categories = get_categories()
- $currentCategories = get_the_category()
- $currentCategoryId = $currentCategories[0]->cat_ID
doctype html
html
  head
    = render_partial("layouts/head-blog")
    = render_partial("layouts/posts/critical-css")
  body
    main.tingle-content-wrapper.content-page
      = render_partial("layouts/header-blog")

      section.container.posts
        figure.posts__image-section
          .posts__image-section-image
          h2.posts__title Softcube Blog
          .posts__description
            | News, guides, and updates on
            br
            | Google and Facebook marketing

          .posts__filter
            .posts__filter-content
              - $seeAllActiveClass = !is_category() ? 'post__filter-link--active' : ''
              a(href="/blog/" class="post__filter-link post__filter-link--all $seeAllActiveClass") See all
              each $category in $categories
                - $link = get_category_link( $category->term_id )
                - $activeClass = is_category() && $category->cat_ID === $currentCategoryId ? 'post__filter-link--active' : ''
                a(
                class="post__filter-link post__filter-link--$category->slug $activeClass"
                href!="$link"
                )=$category -> cat_name

            //button.button.subscribe.js-open-modal-news Subscribe

        - $loadMoreCategory = is_category() ? $currentCategories[0]->slug : null
        div.ajax-load-more-wrap
            ul.alm-listing.alm-ajax.posts__content
                while (have_posts())
                    - the_post()
                    li= render_partial("layouts/posts/repeater-template")
            - the_posts_pagination( array( 'mid_size'  => 2, 'prev_text' => __( '<', '<' ), 'next_text' => __( '>', '>' ), ) )
        //- $loadMoreCode = '[ajax_load_more css_classes="posts__content" post_type="post" posts_per_page="6" category="' . $loadMoreCategory . '" scroll="true" transition_container="false" button_label="Load more"]'
        //!=do_shortcode($loadMoreCode)
      = render_partial("layouts/footer-subscribe")
      = render_partial("layouts/footer-copyright")
      = render_partial("layouts/subscribe-modal-news")
      - wp_footer()