<?php
$categories = get_the_category();
$category = $categories[0];
$linkToPost = get_permalink();
?>
<article class="post-preview">
    <div class="post-preview__content-wrapper">
        <a class="post-preview__title" href="<?php echo $linkToPost; ?>">
            <?php echo get_the_title();?>
        </a>
        <div class="post-preview__content">
            <div class="post-preview__date-read">
                <?php echo the_time('F d, Y');?> •  <?php echo do_shortcode('[rt_reading_time]');?> min
            </div>
            <div class="post-preview__category post-preview__category--<?php echo $category->slug;?>">
                <?php echo $category->cat_name;?>
            </div>
        </div>
    </div>
    <a class="post-preview__image" href="<?php echo $linkToPost; ?>">
        <?php echo the_post_thumbnail( 'height250' ); ?>
    </a>
</article>