<?php
$categories = get_the_category();
$category = $categories[0];
$linkToPost = get_permalink();
?>
<article class="post-preview">
    <a class="post-preview__title" href="<?php echo $linkToPost;?>" style=" padding-top: 10px;">
        <?php echo get_the_title();?>
    </a>
    <div class="post-preview__content">
        <div class="post-preview__date-read">
            <?php echo the_time('F d, Y');?> •  <?php echo do_shortcode('[rt_reading_time]');?> min
        </div>
        <div class="post-preview__category post-preview__category--<?php echo $category->slug;?>">
            <?php echo $category->cat_name;?>
        </div>
    </div>
    <a href="<?php echo $linkToPost; ?>">
        <figure class="post-preview__image">
            <?php echo the_post_thumbnail( 'height250' ); ?>
        </figure>
    </a>

</article>