- $query_result = the_search_query()
- $currentCategories = get_the_category()
- $currentCategoryId = $currentCategories[0]->cat_ID
doctype html
html
  head
    = render_partial("layouts/head-blog")
    = render_partial("layouts/posts/critical-css")
  body
    main.tingle-content-wrapper.content-page
      = render_partial("layouts/header-blog")

      section.container.posts
        figure.posts__image-section
          .posts__image-section-image
          h2.posts__title Search Results
          .posts__description= the_search_query()
          div.posts__filter
        div.archive
          while (have_posts())
            - the_post()
            - $image = get_the_post_thumbnail_url()
            article.post-preview.search
              - $link = get_permalink()
              a(href="$link").post-preview__title.search(style="")= the_title()
              figure.post-preview__image
                a(href="$link").post-preview__image!=the_post_thumbnail('height275')
          div.nav-links!= paginate_links(array( 'mid_size'  => 2, 'prev_text' => __( '<', '<' ), 'next_text' => __( '>', '>' ), ))
      = render_partial("layouts/footer-copyright")
      = render_partial("layouts/subscribe-modal-news")
      - wp_footer()