doctype html
html
  head
    = render_partial("layouts/head")
    = render_partial("layouts/posts/critical-css")
  body
    .tingle-content-wrapper.content-page.content-page--no-offset
      = render_partial("layouts/header")

      .container.static
        - the_post()
        .static-page
          .static-page__title-wrapper
            .static-page__title!= get_the_title()
          .static-page__content
            div!= the_content()

      = render_partial("layouts/footer-subscribe")
      = render_partial("layouts/footer-copyright")
      = render_partial("layouts/modal")
      = render_partial("layouts/subscribe-modal")
      - wp_footer()